@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h2 class="display-4">Alta de Pedidos</h2>
    <form asp-action="altaPedidos" asp-controller="Pedido" method="post">
        <label>Observacion: <input type="text" name="observacion" value="" id="observacion" /></label>
        <label>Estado: <input type="text" name="estado" value="" id="estado" /></label>
        <label>Nombre Cliente: <input type="text" name="nombreCliente" value="" id="nombreCliente" /></label>
        <label>Direccion Cliente: <input type="text" name="direccion" value="" id="direccion" /></label>
        <label>Telefono Cliente: <input type="text" name="telefono" value="" id="telefono" /></label>
        <input id="Submit" type="submit" value="Cargar" />
    </form>
</div>

<div class="col-12">
    <a asp-controller="Pedido" asp-action="Index" class="btn btn-primary">Ver Listado</a>
</div>