@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn-info btn-success btn-lg" asp-controller="Cadete" asp-action="Index">Cadetes</a>
</div>

<div>
    <a class="btn-info btn-success btn-lg" asp-controller="Pedido" asp-action="Index">Pedidos</a>
</div>