@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="text-center">
    <h2 class="display-4">Alta de Cadetes</h2>

    <form asp-action="altaCadetes" method="post">
        <label>Nombre Cadeteria</label>
        <input type="text" name="nombreCadeteria" value="" />
        <br />
        <label>Id cadete</label>
        <input type="text" name="idCadete" value="" />
        <br />
        <label>Nombre cadete</label>
        <input type="text" name="nomCadete" value="" />
        <br />
        <label>Direccion cadete</label>
        <input type="text" name="dirCadete" value="" />
        <br />
        <label>Telefono cadete</label>
        <input type="text" name="telCadete" value="" />
        <br />
        <input id="Submit" type="submit" value="Cargar" />
    </form>
</div>

