@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-controller="Cadete" asp-action="Index">Crear un cadete</a>
</div>

<div>
    <a asp-controller="Pedido" asp-action="Index">Crear un pedido </a>
</div>