@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="display-4">Login de Usuarios</h1>
<form asp-action="login" method="post">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="nombre_usuario" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="contrasenia" required>

    <button type="submit">Login</button>
  </div>
</form>


