@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="display-4">Login de Usuarios</h1>

<form id="login-form" class="form" asp-action="Login" asp-controller="Usuario" method="post">
    <div class="form-group">
        <label for="username" class="text-info">Nombre de usuario:</label><br>
        <input type="text" name="username" id="username" class="form-control" placeholder="Admin">
    </div>
    <div class="form-group">
        <label for="password" class="text-info">Contraseña:</label><br>
        <input type="text" name="password" id="password" class="form-control" placeholder="Admin">
    </div>
    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-info btn-md" value="Login">
    </div>
    <div id="register-link" class="text-right">
        <a asp-action="AltaUsuario" asp-controller="Usuario" class="text-info">Nuevo Usuario</a>
    </div>
</form>